<h1>ID: {{bookinstance._id}}</h1>
<p><strong>Title: </strong>
  <a href={{bookinstance.book.url}}>{{bookinstance.book.title}}</a>
</p>
<p><strong>Imprint: </strong>
  {{bookinstance.imprint}}
</p>
<p><strong>Status:</strong>
  {{check_status bookinstance}}
</p>

<hr>
<p>
  <a href={{concatenate_strings bookinstance.url '/delete'}}>Delete Copy</a>
</p>
<p>
  <a href={{concatenate_strings bookinstance.url '/update'}}>Update Copy</a>
</p>