<h1>{{title}}</h1>
<form action="" method="POST">
  <div class="form-group">
    {{#unless book_list}}
      <p><strong>Book: </strong>{{book.title}}</p>
      <input id="book" class="form-control" type="hidden" name="book" required="true" value={{book._id}}>
    {{else}}
      <label for="book">Book: </label>
      <select name="book" id="book" class="form-control" type='select' placeholder='Select book' required='true' >
        {{sort_books book_list}}
        {{#each book_list}}
          {{#if bookinstance}}
              <option value={{this._id}} {{is_the_book bookinstance.book this._id}}>{{this.title}}</option>
          {{else}}
              <option value={{this._id}}>{{this.title}}</option>
          {{/if}}
        {{/each}}
      </select>
    {{/unless}}
  </div>
  <div class="form-group">
    <label for="imprint">Imprint: </label>
    <input id="imprint" class="form-control" type="text" placeholder="Publisher and date information" 
      name="imprint" required='true' value='{{check_undefined bookinstance bookinstance.imprint}}'>
  </div>
  <div class="form-group">
    <label for="due_back">Date when book available:</label>
    <input id="due_back" class="form-control" type="date" name="due_back" 
      value={{check_undefined bookinstance bookinstance.due_back}}>
  </div>
  <div class="form-group">
    <label for="status">Status: </label>
    <select class="form-control" name="status" id="status" type="select" 
      placeholder="Select status" required="true" >
      <option value="Maintenance">Maintenance</option>
      <option value="Available">Available</option>
      <option value="Loaned">Loaned</option>
      <option value="Reserved">Reserved</option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

{{#if errors}}
  <ul>
    {{#each errors}}
        <li>{{this.msg}}</li>
    {{/each}}
  </ul>
{{/if}}